# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ML
mlruns/
*.pkl
*.joblib

# Build
dist/
build/

# Python build metadata
*.egg-info/